@model IEnumerable<DeptHeadCount>

<table class="table">

		<thead>
			<tr>
				<th>Департамент</th>
				<th>Количество сотрудников</th>	
			</tr>
		</thead>
		<tbody>
			@foreach (var i in Model)
			{
				<tr>
					<td>@i.Department</td>
					<td>@i.Count</td>
				</tr>
			}
		</tbody>

</table>