@model IEnumerable<DSR_Practice_Debts.Models.User>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@*@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
@{
    ViewData["Title"] = "Admin";
}

@foreach (var item in Model)
{

    <h1>@item.Email ___ @item.Password</h1>
    <a asp-action="Details" asp-route-id="@item.Id">Детали</a>
}

<div class="buttons">
    <div class="form-group_btn_1">
        <a asp-action="ExportXML">
            <input value="Экспортировать данные" class="btn btn-success" readonly="readonly">
        </a>
    </div>
</div>
