@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Data";
}
@{
    Layout = "_LayoutAdmin";
}


<div class="buttons">
    <div class="form-group_btn_1">
        <a asp-action="ExportXML">
            <input value="Экспортировать данные" class="btn btn-success" readonly="readonly">
        </a>
        <div class="alert alert-success">
            <p class="p-3 mt-2">Успех!</p>
        </div>
    </div>
</div>

<div class="buttons">
    <div class="form-group_btn_1">
        <a asp-action="ImportXML">
            <input value="Импортировать данные" class="btn btn-success" readonly="readonly">
        </a>
    </div>
</div>