@model DSR_Practice_Debts.Models.Debt
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "AddDebt";
}
@{
    Layout = "_LayoutUser";
}


<div class="student_main">
    <h1>Оформления займа</h1>
    <form asp-action="AddDebt">
        <div class="form-group">
            <input type="hidden" asp-for="userId" />
        </div>
        <div class="student_row">
            <div class="col-md-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @*<div class="form-group">
                    <label asp-for="IdDebt" class="control-label"></label>
                    <input asp-for="IdDebt" class="form-control" />
                    <span asp-validation-for="IdDebt" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                    <label asp-for="Summ" class="control-label">Сумма займа</label>
                    <input asp-for="Summ" class="form-control" />
                    <span asp-validation-for="Summ" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label">Дата открытия</label>
                    <input class="form-control" asp-for="Date" asp-format="{0:yyyy-MM-ddTHH:mm}" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                    
                </div>
                <div class="form-group">
                    <label asp-for="DateOfEnd" class="control-label">Дата закрытия</label>
                    <input class="form-control" asp-for="DateOfEnd" asp-format="{0:yyyy-MM-ddTHH:mm}" />
                    <span asp-validation-for="DateOfEnd" class="text-danger"></span>
                    
                </div>
            </div>
        </div>
        <div class="buttons">
            <div class="form-group_btn_1">
                <input type="submit" value="Создать" class="custom-btn btn-4" />
            </div>
            <div class="form-group_btn_1">
                <a asp-action="ShowDebtsList">
                    <input value="          Отмена" class="custom-btn btn-4" />
                </a>
            </div>
        </div>
    </form>
</div>