@model DSR_Practice_Debts.ViewModels.LoginModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Intro";
}


<h1>@User.Identity.Name</h1>